@import "bootstrap";

/* @font-face {
    font-family: 'poppinsblack';
    src: url('/src/fonts/poppins-black-webfont.woff2') format('woff2'),
         url('/src/fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextrabold';
    src: url('/src/fonts/poppins-extrabold-webfont.woff2') format('woff2'),
         url('/src/fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinslight';
    src: url('/src/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('/src/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsmedium';
    src: url('/src/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('/src/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsregular';
    src: url('poppins-regular-webfont.woff2') format('woff2'),
         url('poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
     src: local('MyFont'), url(fonts/MyFont.woff) format('woff');


} */


 
:root {
    --bgcolor : #e8e8e8;
    --textColor : #333;
    --font12 : 12px;
}
body ,.body {
    background: var(--bgcolor);
}
.text-color {
    color: var(--textColor);
    font-size: var(--font12);
    list-style: 1.67;
}